<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>holdback1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{130,802}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,18},{130,802}}</string>
                <key>sourceSize</key>
                <string>{148,830}</string>
            </dict>
            <key>holdback2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,822}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{148,822}}</string>
                <key>sourceSize</key>
                <string>{148,830}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hoses.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e351efa256e44b6c70a0c8c44ce39c6a:588757d8896139cded382324547d7f42:eac0fe8414a60771b0c173b419c3db39$</string>
            <key>textureFileName</key>
            <string>hoses.png</string>
        </dict>
    </dict>
</plist>
